<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notes"
    android:versionCode="6"
    android:versionName="6.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.notes.AddActivity"
            android:windowSoftInputMode="stateHidden"
            ></activity>
        <activity android:name="com.example.notes.ShowPicture"></activity>
        <activity android:name="com.example.notes.ShowRecord"></activity>
        <activity android:name="com.example.notes.ShowNoteActivity"></activity>
        <activity android:name="com.example.notes.PaintActivity"></activity>
        <activity android:name="com.example.notes.ActivityRecord"></activity>"
        <activity android:name="com.example.notes.HandWriteActivity"
             android:windowSoftInputMode="stateHidden"
            ></activity>
    </application>
	<uses-permission android:name="android.permission.CAMERA"/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
</manifest>
